version: 2

jobs:
  build:
    working_directory: ~/maelstrom
    docker:
      # https://fenicsproject.org/download/
      - image: quay.io/fenicsproject/stable:current
    steps:
      - run: apt-get update
      - run: apt-get install -y python-numpy
      - run: apt-get install -y python-pip
      - run: apt-get install -y git
      - run: sudo -H pip2 install -U matplotlib pytest pytest-cov
      - checkout
      # The actual test
      - run: PYTHONPATH=$PWD:$PYTHONPATH MPLBACKEND=Agg pytest --cov maelstrom
      # submit to codecov
      - run: apt-get install -y curl
      - run: bash <(curl -s https://codecov.io/bash)
